<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" thread-count="1" parallel="tests" >

	  <test name="Test">
	 <parameter name="browserName" value="chrome"></parameter>
     <classes>
      <class name="com.pratian.saucedemo.automation.testclasses.AddTocart"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
